  <nav class="nav-bar container flex" >
        <div class="logo">
            <h3 ><span class="tittle1">Supper </span><span class="tittle2">App</span></h3>
        </div>
        <form>
        <div class="input-filed">
            
        <input type="search" name="search" placeholder="Search">         
        </div>
        </form>
        <div class="link">
        <ul class="links flex">
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#" class="button2">Sign in</a></li>
            <li><a href="#" class="button1">Sign Up</a></li>
            
        </ul>
    </div>
    
    </nav>
 